<!DOCTYPE html>
<html>
  <head>
    <title>Shoelace Test</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style>
      body {
        font-family: var(--sl-font-sans);
        font-size: var(--sl-font-size-medium);
        font-weight: var(--sl-font-weight-normal);
        letter-spacing: var(--sl-letter-spacing-normal);
        color: var(--sl-color-gray-800);
        line-height: var(--sl-line-height-normal);
      }

      sl-form div, sl-turbo-form div {
        margin-bottom: 2em;
      }
    </style>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.87/dist/themes/light.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.87/dist/shoelace.js"></script>

    <% if request.path.include?("hotwire") %>
      <%= javascript_pack_tag 'hotwire' %>
    <% else %>
      <%= javascript_pack_tag 'turbolinks' %>
    <% end %>
  </head>

  <body>
    <div style="width: 950px; margin: auto">
      <%= yield %>
    </div>
  </body>
</html>
